<h1><%= title "Variation" %></h1>
 

<p>
  <strong>Stock:</strong>
  <%=h @variation.stock %>
</p>

<p>
  <strong>Option 1:</strong>
  <%=h @variation.option_1 %>
</p>

<p>
  <strong>Option 2:</strong>
  <%=h @variation.option_2 %>
</p>

<p>
  <strong>Option 3:</strong>
  <%=h @variation.option_3 %>
</p>

<p>
  <strong>Product:</strong>
  <%=h @variation.product_id %>
</p>


 
<p>



  <%= link_to "View All", variations_path %>

</p>
