<% form_tag add_to_baskets_path do %>
  <%= hidden_field_tag :product_id, @product.id %>
  <%= hidden_field_tag :option_1, @option_1 %>
  <%= hidden_field_tag :option_2, @option_2 %>


  <% if @product.option_3_name? %>
    <p>
      <% if defined?(@option_3s) && !defined?(@option_3) %>
        <%= select_tag :option_3, @option_3s %>
        <%= submit_tag "Add to Basket" %>
      <% else %>
        <%= select_tag :option_3, "<option>#{@product.option_3_name.pluralize}</option>", :disabled => true %>
      <% end %>
    </p>
  <% end %>
  
<% end %>
